html * {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/*Hero*/

.heroContainer {
  width: 100%;
  min-height: 90vh;
  background-color: #2d2e32;
  animation: fadeIn 500ms reverse;
}

@keyframes fadeIn{
  100%{
    transform: scale(1.03);
    opacity: 0;
  }
}

/* .fireflies li:nth-of-type(1) {
  animation-delay: 1s; 
  animation-duration: 65s, 81s, 0.01s; 
  animation-fill-mode: backwards, backwards; 
}

.fireflies li:nth-of-type(2) { 
  animation-delay: 0.5s; 
  animation-duration: 80s, 75s, 0.01s; 
} 

.fireflies li:nth-of-type(3) { 
  animation-delay: 1.5s; 
  animation-duration: 70s, 60s, 0.01s; 
  animation-fill-mode: backwards, backwards; 
} 

.fireflies li:nth-of-type(4) { 
  animation-delay: 2.5s; 
  animation-duration: 90s, 80s, 0.01s; 
} 

.fireflies li:nth-of-type(5) { 
  animation-delay: 0.3s; 
  animation-duration: 55s, 75s, 0.01s; 
} 

.fireflies li:nth-of-type(6) { 
  animation-delay: 2.2s; 
  animation-duration: 79s, 63s, 0.01s; 
  animation-fill-mode: backwards, backwards; 
} 

.fireflies li:nth-of-type(7) { 
  animation-delay: 0.9s; 
  animation-duration: 70s, 80s, 0.01s; 
} 

.fireflies li:nth-of-type(8) { 
  animation-delay: 1.6s; 
  animation-duration: 50s, 40s, 0.01s; 
  animation-fill-mode: backwards, backwards; 
} 

.fireflies li:nth-of-type(9) { 
  animation-delay: 1.8s; 
  animation-duration: 77s, 88s, 0.01s; 
} 

.fireflies li:nth-of-type(10) { 
  animation-delay: 3s; 
  animation-duration: 87s, 73s, 0.01s; 
  animation-fill-mode: backwards, backwards; 
} 

/* last 10 */
/* .fireflies li:nth-of-type(11) { 
  animation-delay: 1s; 
  animation-duration: 60s, 78s, 0.01s; 
  animation-fill-mode: backwards, backwards; 
} 

.fireflies li:nth-of-type(12) { 
  animation-delay: 0.5s; 
  animation-duration: 85s, 80s, 0.01s; 
} 

.fireflies li:nth-of-type(13) { 
  animation-delay: 1.5s; 
  animation-duration: 75s, 66s, 0.01s; 
  animation-fill-mode: backwards, backwards; 
} 

.fireflies li:nth-of-type(14) { 
  animation-delay: 2.5s; 
  animation-duration: 87s, 75s, 0.01s; 
} 

.fireflies li:nth-of-type(15) { 
  animation-delay: 0.3s; 
  animation-duration: 69s, 85s, 0.01s; 
} 

.fireflies li { 
  border-radius: 50%; 
  background-color: rgb(0, 156, 213); 
  background-image: radial-gradient(rgb(1, 108, 125) 5%, 
                                    rgb(4, 167, 254) 25%, 
                                    rgb(7, 187, 252) 60%); 
  box-shadow: 0 0 5px 2px rgb(250, 193, 93),  
              0 0 20px 10px rgb(255, 228, 140), 
              0 0 40px 15px rgb(255, 219, 41); 
  height: 0.5px; 
  width: 0.5px; 
  top: -20px; 
  position: absolute; 
  animation: leftright 24s infinite cubic-bezier(0.39, 0, 0.63, 1), 
             updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1), 
      blinking 3s infinite; 
}  */

/* .fireflies img{
  top: -20px; 
  position: absolute; 
  animation: leftright 24s infinite cubic-bezier(0.39, 0, 0.63, 1), 
      updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1), 
      blinking 3s infinite; 

} */
/* 
@keyframes leftright { 
  
  0%, 
  100% { 
      left: 80%; 
  } 

  16.666% { 
      left: 95%; 
  } 

  33.333% { 
      left: 10%; 
  } 

  50% { 
      left: 60%; 
  } 

  66.666% { 
      left: 70%; 
  } 

  83.333% { 
      left: 5%; 
  } 
} 

/* It will create the up down movement */
/* @keyframes updown { 

  0%, 
  100% { 
      top: 10px; 
  } 

  25% { 
      top: 90%; 
  } 

  50% { 
      top: 50%; 
  } 

  75% { 
      top: 95%; 
  } 
}  */

/* @keyframes blinking { 
  
  0%, 
  100% { 
      box-shadow: 0 0 5px 2px rgb(0, 102, 219),  
                  0 0 10px 5px rgb(0, 109, 192), 
                  0 0 30px 10px rgb(1, 65, 142); 
      height: 0; 
      width: 0; 
  } 

  50% { 
    box-shadow: 0 0 5px 2px rgb(0, 102, 219),  
    0 0 10px 5px rgb(0, 109, 192), 
    0 0 30px 10px rgb(1, 65, 142); 
  } 

  75% { 
    box-shadow: 0 0 5px 2px rgb(0, 102, 219),  
    0 0 10px 5px rgb(0, 109, 192), 
    0 0 30px 10px rgb(1, 65, 142);
  } 
}   */


.introHero{
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .heroPhoto{
  align-self: center;
  width: 55vw;
  height: 85vh;
  border-radius: 450px;
  background-repeat: no-repeat;
} */

.heroPhoto {
  width: 33vw;
  position: absolute;
  transform: translateX(10%);
  top: -210px;
  left: -90px;
  z-index: 1;
  background-repeat: no-repeat;
  border-radius: 380px;
}

/* 
.slider-thumb::before {
  position: absolute;
  content: "";
  left: 30%;
  top: 20%;
  width: 450px;
  height: 450px;
  background: #1393a6;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

 */




.gooey{
  align-self: center;
  width: 28vw;
  height: 42vh;
  margin-top: 350px;
  margin-left: 220px;
  position: relative;
  top: 0;
  left: 0;
  background-image: linear-gradient(120deg, #aaedad 0%, #66ff99 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  
  animation: morph 3s linear infinite; 
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}
.gooey:before,
.gooey:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0; top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: 5px 5px 89px rgb(101, 241, 150);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  
}

.gooey:before{
  animation: morph 3s linear infinite;
  opacity: .21;
  animation-duration: 1.5s;
}

.gooey:after{
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .89;
  /* content: url('/src/pho.png'); */
  line-height: 120px;
  text-indent: -21px;
}

@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn{
  100%{
    transform: scale(1.03);
    opacity: 0;
  }
}






.titleContainer{
  width: 25%;
  min-height: 3rem;
  background-color: #66ff99;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1.5em;
  font-size: 2.5vmin;
  

}

.titleContainer h3{
  white-space: nowrap;
  overflow: hidden;
	animation: typing 2s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }




.titleContainer::after {
  content: " ";
  position: absolute;
  right: 20px;
  bottom: -20px;
  border-top: 30px solid #66ff99;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: none;
  
}

.dataHero{
  width: 45vw;
  align-self: center;

}
.dataHero h2 {
  color: #dbdbdc;
  font-weight:normal;
  letter-spacing: 3px;
  text-align:start;
  font-size: 5vmin;
}


.heroText{
  align-self: center;
  width: 80%;
  margin-bottom: 2em ;
}

.heroText h2{
  margin: 0;
  color: rgba(225,225,225, .01);
  background-image: url("https://wallpapercave.com/wp/wp2370588.jpg");
  background-repeat: repeat;
  -webkit-background-clip:text;
  background-clip:text;
  animation: animate 15s ease-in-out infinite;
  font-weight: 600;
  text-transform: uppercase;
}

.heroText p {
  color:#606167;
  font-size: 2vmin;
  letter-spacing: 2px;
  margin: 2em 0;
}
.contactSpan{
  align-self: center;
  text-decoration: none;
}


.contactHero{
  color:#66ff99;
  font-size: 3vmin;
}

/*Navbar*/

.navContainer {
  background-color: #2d2e32;
}


.logosss{
  width: 8rem;
  margin: 0 1em;
}

.navbar{
  width: 100%;
  height: 10vh;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color:#dbdbdc !important;
}

.navbar-expand-lg .navbar-nav {
  font-size:larger;
  flex-direction: row;
}

.nav-link:hover{
  color:#66ff99 !important;
}

.nav-link.active {
  color:#66ff99;
}

.navA{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}









.edutimeline {
  width: 30vw;
}

.head {
  font-size: 5.5vmin;
  font-weight: normal;
  letter-spacing: 2px;
  color: #66ff99;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.percentage {
  color: white;
}

.timecard {
  margin: 4em;
  padding: 3rem;
  border-radius: 1em!important;
  display: flex;
  background-color: #2d2e32!important;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.32);
}

.fw {
  color: white;
  font-size: 2.5vmin;
}

.time {
  color:#66ff99;
  font-size: 2vmin;
}

.location {
  color:#606167;
  font-size: 2vmin;
}

.timeline-item {
  padding: 10px;
}

.timeline-with-icons {
  border-left: 1px solid #ffffff;
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color:#66ff99;
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

























/*Home main*/

.homeMain, .home, .proyectosBody,.contactoBody{
  background-color: #25262a;
}

.homeMain {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyectosHeader{
  background-color: #2d2e32;
}

/*Footer*/

footer{
  background-color: #2d2e32;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;

 
}

.footerRights{
  color:#dbdbdc
}

.socialMedia {
  padding: 1em;
  width:13vw;
  display: flex;
  justify-content: space-around;

}

.icon:hover {
  fill:#66ff99;
}

/*Cards Home*/

.cardTitle{
  align-self: center;
  width:30vw ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle span {
  font-size: 3.5vmin;
  font-weight: normal;
  letter-spacing: 2px;
  color: #66ff99;
}

.cardText{
  padding: 1em 0;
  align-self: center;
  width:30vw;
}

.cardText p{
  text-align: start;
  width: auto;
  color: #dbdbdc;
  letter-spacing: 1.5px;
  font-weight: lighter;
}

.card{
  margin: 1em;
  padding: 2rem;
  border-radius:1em!important;
  display: flex;
  width: 35vw;
  height: 30vh;
  background-color: #2d2e32!important;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.32);
}

.cardbody{
  align-self: center;
}

.introductionMain h3{
  color:#dbdbdc;
  letter-spacing: 2px;
  font-size: 6vmin;
}
.introductionMain h5{
  color:#dbdbdc;
  letter-spacing: 2px;
  font-size: 2.5vmin;
}

.introductionMain p{
  color:#606167;
  letter-spacing: 0px;
  font-size: 2.5vmin;
  text-align: justify;
}


.introductionMain{
  width:30vw;
  margin-left: 2em;
}

.introductionMain div{
  margin-top: 3em;
}

.introductionMain p span{
  color:#66ff99;
}

.abt p{
  font-size:xx-large;
 font-weight: 800; 
}

/* .intro h3{
  margin: 0;
  color: rgba(225,225,225, .01);
  background-image: url("https://wallpapercave.com/wp/wp2370588.jpg");
  background-repeat: repeat;
  -webkit-background-clip:text;
  background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
} */

@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}

/*Tech Banner*/

.tech{
  width: 100%;
  display: flex;
  justify-content: center;
}
.techContainer{
  align-self: center;
  width: 80%;
  height: 10vh;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.452);
  border-radius: 1em;
}

.techContainer svg:hover {
  fill: #66ff99;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

/*Some Proyects*/

.proyectVideo{
  width: 40vw;
  border-radius: 1em;
  box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.32);
}

.cardVideo{
  margin: 1em;
  padding: 2rem;
  border-radius:1em!important;
  display: flex;
  width: 40vw;
  height: 45vh;
  background-color: #2d2e32!important;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.32);
}

.videoTitle{
  align-self: center;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.videoTitle span{
  font-size: 3.5vmin;
  font-weight: normal;
  letter-spacing: 2px;
  color: #66ff99;
}

.videoText{
  padding: 1em 0;
  align-self: center;
  width:25vw;
}

.videoText p{
  text-align: start;
  color: #dbdbdc;
  letter-spacing: 1.5px;
  font-weight: lighter;
}

.videoDescrip{
  margin:4em 0;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoSection{
  align-self: flex-start;
  padding: 0 4em;
}

.videoSection h4{
  color:#dbdbdc;
  font-size: 5vmin;
  margin-left: 1em;
}

.videoSection p {
  color:#606167;
  margin-left: 2.5em;
}

.videoSection a {
  color:#66ff99;
  text-decoration: none;
}

.someProjectsContainer{
  padding: 4em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Proyectos Page */

.proyectosHero{
  width: 100%;
  height: 70vh;
  padding: 1em;
  display: flex;
  align-items: center;
}

.proyectosHero span{
  align-self: flex-start;
  padding: .2em;
  background-color: #66ff99;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5em;
  font-size: 6vmin;
}

.proyectosHero p{
  align-self: flex-start;
  color:#606167;
  letter-spacing: 2px;
}
.proyectoCard{
  margin: 9em 0;
}
.mytineraryWeb{
  width: 40vw;
  height: 45vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1em;
  box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.32);
}

.proyectoTitle h4{
  text-align: center;
  color: #dbdbdc;
  font-size: 5vmin;
  letter-spacing: 2px;
}
.proyectoTitle{
  padding: 2em;
  margin: 1em;
}
.proyectoText{
  width:40vw;
}
.proyectoText p {
  color: #606167;
  font-size: 2.5vmin;
  letter-spacing: 1px;
}

.proyectosDescrip{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.techsText{
  color: #dbdbdc !important;
  font-size: 2vmin !important;
}

.proyectosIcons {
  margin-top: 2em;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.HeroProyectText{
  background-color: #2d2e32;
  padding: 3em;
  height: 18vw;
  width: 38vw;
}

.HeroProyectText h3{
  color: #dbdbdc;
  font-weight:normal;
  letter-spacing: 3px;
  text-align:start;
  font-size: 8vmin;
}

.HeroProyectText a {
  text-decoration: none;
  color:#66ff99;
  font-size: 3vmin;
}

.HeroProyectText a:hover, .viewMore:hover {
  color:#00ccff;
}

.mainContact {
  width: 100%;
  padding:4em;
  min-height: 70vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactCard {
  padding: 2rem;
  border-radius:1em!important;
  display: flex;
  width: 40vw;
  height: 50vh;
  background-color: #2d2e32!important;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.32);
}

.dataIcon a {
  text-decoration: none;
}

.dataDev h2{
  color:#dbdbdc;
  font-size: 5vmin;
  letter-spacing: 1.5px;
}

.dataDev p {
  color:#606167;
  font-size: 2.5vmin;
  letter-spacing: 1px;
}

.dataIcon{
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.dataIcon span{
  color:#dbdbdc;
  margin-left: 1em;
}

.dataCv{
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataCv a {
  font-size: 2.5vmin;
  color:#66ff99;
  text-decoration: none;
}

.dataCv a:hover{
  color:#00ccff;
}

/*Media Queries*/
@media (max-width: 1000px){
  .introHero{
    flex-direction: column;
  }
  .heroPhoto{
    width: 100%;
  }
  .dataHero {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .titleContainer{
    align-self: center;
    font-size: 3.5vmin;
  }
  
  .dataHero h2 {
    text-align: center;
  }

  .dataHero p {
    font-size: 3vmin;
    text-align: justify;
  }

  .contactHero {
    font-size: 5vmin!important;
  }

  .homeMain{
    flex-direction: column-reverse;
  }

  .introductionMain{
    width: 100%;
    margin-left: 0;
    padding: 0 1em;
  }

  .introductionMain h3 {
    font-size: 7vmin;
  }

  .introductionMain h5 {
    font-size: 3.5vmin;
  }

  .introductionMain p {
    font-size: 3vmin;
  }

  .card {
    width: 100%;
  }

  .cardsMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .cardBody {
    width: 100%;
  }

  .cardTitle{
    width: 80%;
    margin-top: 2em;
  }
  .cardText{
    width: 100%;
  }

  .cardText p {
    text-align:justify;
  }

  .techContainer svg {
    width: 40px;
    height: 40px;
  }

  .techContainer {
    padding: 1em;
  }

  .videoSection{
    text-align: center;
  }

  .videoSection h4{
    margin-left: 0;
    font-size: 6vmin;
  }

  .videoDescrip{
    flex-direction: column;
  }
  
  .proyectVideo{
    width: 90%;
  }

  .cardVideo{
    width: 90%;
  }

  .cardbody{
    width: 100%;
  }

  .videoText{
    width: 100%;
  }

  .videoTitle{
    width: 90%
  }

  .socialMedia{
    width: 50%;
  }

  .HeroProyectText {
    width: 90%;
  }

  .HeroProyectText a {
    font-size: 5vmin;
  }

  .proyectosDescrip{
    flex-direction: column;
  }

  .mytineraryWeb{
    width: 90%;
  }

  .proyectoText{
    padding:1em;
    width: 100%;
  }

  .proyectoText p{
    font-size:3vmin!important;
  }
  .proyectosIcons{
    width: 50%;
  }

  .contactCard{
    padding: 1em;
    width: 100%;
  }

  .contactCard div {
    width: 100%;
  }

}
@media (min-width: 1005px) and (max-width: 1300px) {

  .contactCard{
    padding: 1em;
    width: 50vw;
  }
}